<ng-container *ngIf="isLoadingForm$ | async; else contentTemplate">
  Загрузка
</ng-container>
<ng-template #contentTemplate>
  <div class="tabs">
    <div class="tab active">Заполнение информации</div>
    <div class="tab disabled">Команда</div>
    <!-- <div class="tab disabled">Отправленные приглашения</div>
  <div class="tab disabled">Заявки</div> -->
  </div>

  <ng-container [ngSwitch]="currentTab">
    <ng-container *ngSwitchCase="1">
      <form [formGroup]="form" class="create-project">
        <!-- <div class="change-type">
          <div class="current-type">
            <div class="title">Академия инноваторов</div>
            <div class="description">
              Программа по развитию технологических команд и их проектов от идеи
              до прототипа продукта
            </div>
          </div>
          <div class="action">
            <button mat-raised-button color="accent">Изменить</button>
          </div>
        </div> -->
        <div class="section">
          <div class="info">
            <div class="title">Основное</div>
            <div class="description">
              Очень важно заполнить информацию этого раздела в полном объеме, от
              нее будет зависеть корректность подбора специалистов для вашей
              идеи, на основе Машинного Обучения
            </div>
          </div>
          <div class="form">
            <div class="form__section">
              <div class="width-50">
                <mat-form-field appearance="fill" required>
                  <mat-label>Название идеи</mat-label>
                  <input matInput type="text" formControlName="projectName" />
                </mat-form-field>
              </div>
              <div class="width-50">
                <mat-form-field appearance="fill">
                  <mat-label>Ссылка на идею </mat-label>
                  <input matInput type="text" formControlName="projectLink" />
                </mat-form-field>
              </div>
            </div>
            <div class="header">
              <div class="title">Опишите цели и задачи вашей идеи*</div>
            </div>
            <div class="form__section">
              <div class="width-100 h-100">
                <mat-form-field appearance="fill">
                  <mat-label>Описание идеи</mat-label>
                  <textarea
                    formControlName="projectDescription"
                    matInput
                    cdkTextareaAutosize
                    cdkAutosizeMinRows="3"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
          <div class="title">
            Выберите темы, которые наиболее точно характеризуют Вашу идею,
            например: робототехника, финтех, биотехнологии
          </div>
        </div>
        <div class="form__section margins">
          <div class="width-100">
            <app-pillbar-input
              formControlName="projectTags"
              label="Темы проекта*"
              [possibleValues]="tags"
            ></app-pillbar-input>
          </div>
        </div>
        <div class="section">
          <div class="info">
            <div class="title">Роли для формирования команды</div>
          </div>
          <div class="form">
            <div class="header">
              <div class="title">Ваша роль в команде*</div>
            </div>
            <div class="form__section">
              <div class="width-50">
                <mat-form-field appearance="fill">
                  <mat-label>Специальность</mat-label>
                  <mat-select formControlName="ownerCategory">
                    <mat-option
                      *ngFor="let skillsAndCategory of skillsAndCategories"
                      value="{{ skillsAndCategory.category }}"
                      >{{ skillsAndCategory.category }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="width-50">
                <app-pillbar-input
                  formControlName="ownerSkills"
                  label="Навыки*"
                  [possibleValues]="getAvailbleSkillsOwner()"
                ></app-pillbar-input>
              </div>
            </div>
          </div>

          <ng-container formArrayName="lookingForTeam">
            <ng-container
              *ngFor="let child of lookingForTeam.controls; let i = index"
            >
              <div [formGroupName]="i">
                <div class="header">
                  <div class="title">Специальности и навыки*</div>
                  <div class="action" (click)="removeLookingForMember(i)">
                    Удалить
                  </div>
                </div>
                <div class="form__section">
                  <div class="width-50">
                    <mat-form-field appearance="fill">
                      <mat-label>Специальность</mat-label>
                      <mat-select formControlName="category">
                        <mat-option
                          *ngFor="let skillsAndCategory of skillsAndCategories"
                          value="{{ skillsAndCategory.category }}"
                          >{{ skillsAndCategory.category }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="width-50">
                    <app-pillbar-input
                      formControlName="skills"
                      label="Навыки*"
                      [possibleValues]="getAvailbleSkills(i)"
                    ></app-pillbar-input>
                    <div class="title">
                      Перед выбором Навыков, пожалуйста, выберите Специальность
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

          <div class="add-role">
            <button
              mat-raised-button
              color="accent"
              class="max-width"
              (click)="addLookingForMember()"
            >
              Добавить роль +
            </button>
          </div>
        </div>
        <div class="actions">
          <div class="description">Сохраните Ваши изменения</div>
          <div class="buttons">
            <button mat-button>Отмена</button>
            <button mat-raised-button color="accent" (click)="createProject()">
              Сохранить
            </button>
          </div>
        </div>
      </form>
    </ng-container>
  </ng-container>
</ng-template>
