.header {
  width: 100%;
  padding: 28px 0 28px 0;

  background: #2C2850;
  border-radius: 0px 0px 40px 40px;

  // position: absolute;

  .nav {
    max-width: 1440px;
    padding: 0 84px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
      img {}
    }

    .links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;


      &__item {
        cursor: pointer;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;

        color: #FFFFFF;

        &.active {
          font-weight: 800;
          font-size: 14px;
          line-height: 20px;
          color: #FE0046;

        }
      }
    }

    .profile {
      display: flex;
      flex-direction: row;
      gap: 16px;

      cursor: pointer;

      .avatar {
        img {}
      }

      .fio {
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;

        .arrow {}
      }
    }
  }
}
