<div class="header">
  <div class="nav">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" alt="" />
    </div>
    <div class="links">
      <a class="links__item" [routerLink]="['/']" routerLinkActive="active"
        >Главная</a
      >
      <a
        class="links__item"
        [routerLink]="['/projects']"
        routerLinkActive="active"
        >Лента Идей</a
      >
      <a class="links__item" [routerLink]="['/users']" routerLinkActive="active"
        >Специалисты</a
      >
      <a class="links__item" [routerLink]="['/news']" routerLinkActive="active"
        >Новости</a
      >
      <a
        class="links__item"
        [routerLink]="['/battle']"
        routerLinkActive="active"
        >Битва Идей</a
      >
    </div>
    <div class="profile">
      <div class="avatar">
        <img src="../../../../assets/images/avatar_user.svg" alt="" />
      </div>
      <div class="fio">
        Михаил Марцинюк
        <div class="arrow">
          <img src="../../../../assets/icons/arrow_down.svg" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</div>
