<div class="header">
  <div class="nav">
    <div class="logo">
      <img src="../../../../assets/images/logo.svg" alt="" />
    </div>
    <div class="links">
      <!-- <a
        class="links__item"
        [routerLink]="['innovator']"
        routerLinkActive="active"
        >Главная</a
      > -->
      <a
        class="links__item"
        [routerLink]="['projects/for-me']"
        routerLinkActive="active"
        >Проекты для меня</a
      >
      <a
        class="links__item"
        [routerLink]="['projects/all']"
        routerLinkActive="active"
        >Лента Проектов</a
      >
      <a class="links__item" [routerLink]="['bears']" routerLinkActive="active"
        >Специалисты</a
      >
      <a class="links__item" [routerLink]="['news']" routerLinkActive="active"
        >Новости</a
      >
      <a
        class="links__item"
        [routerLink]="['/battle']"
        routerLinkActive="active"
        >Битва Проектов</a
      >
    </div>
    <div class="profile" [matMenuTriggerFor]="menu">
      <div class="avatar">
        <img src="../../../../assets/images/avatar_user.svg" alt="" />
      </div>
      <div class="fio">
        {{ userFIO }}
        <div class="arrow">
          <img src="../../../../assets/icons/arrow_down.svg" alt="" srcset="" />
        </div>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openProfile()">Мой профиль</button>
      <button mat-menu-item (click)="openProjects()">Мои проекты</button>
      <button mat-menu-item (click)="exit()">Выход</button>
    </mat-menu>
  </div>
</div>
