.home {
  height: 700px;
  max-width: 1300px;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  .image {
    z-index: 5;

    img {
      width: 85%;
    }
  }

  .promo {
    z-index: 4;
    max-width: 466px;
    display: flex;
    flex-direction: column;

    .title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 80px;
      color: #FFFFFF;
      margin-bottom: 24px;
    }

    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      /* or 140% */

      display: flex;
      align-items: center;

      color: #FFFFFF;
      margin-bottom: 40px;
    }

    .feature-list {
      display: flex;
      flex-direction: row;
      gap: 16px;
      flex-wrap: wrap;

      .feature {
        display: flex;
        flex-direction: row;
        gap: 12px;
        max-width: 220px;
        align-items: center;

        .icon {
          flex-shrink: 0;
          width: 24px;
          height: 24px;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .description {
          margin: 0;
          font-family: 'Mulish';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          /* or 150% */

          display: flex;
          align-items: center;

          color: #FFFFFF;
        }
      }

      margin-bottom: 60px;
    }

  }

  .glass {
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    height: 100%;

    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(50px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 40px 0px 0px 40px;

    z-index: 2;
  }

  .glass-ellipses {
    position: absolute;
    top: 0;
    right: 0;
    width: 44%;
    height: 100%;

    .ellipses {
      height: 100%;
      overflow: hidden;
      position: relative;

      .elips-1 {
        position: absolute;
        top: -20px;
        right: -50px;
      }


      .elips-3 {
        position: absolute;
        bottom: -100px;
        right: -90px;
      }
    }

  }

  .elips-2 {
    z-index: 0;
    position: absolute;
    top: 20px;
    right: 24%;
  }
}
