.header {
  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
      font-weight: 800;
      font-size: 40px;
      line-height: 48px;
      color: #333F48;
      margin-bottom: 12px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      gap: 8px;

      .action {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #FF7351;
        cursor: pointer;

        &:hover {
          background: #FFF4EC;
          transition: 0.5ms;
        }
      }
    }
  }

  &__bottom {
    .category {
      width: fit-content;
      padding: 8px 24px;
      background: #FFF4EC;
      border-radius: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #FF7351;
    }
  }
}

.about-project {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .stats {
    display: flex;
    flex-direction: row;
    gap: 70px;

    .stat {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .score {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: #333F48;
      }

      .icon {}
    }
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #181818;
  }

  .to-the-team {
    width: 100%;
  }

  .team {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 18px;
      color: #333F48;
    }

    .member-list {
      display: flex;
      flex-direction: row;
      gap: 6px;

      overflow-x: scroll;

      .member {
        position: relative;
        width: 170px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .level {
          position: absolute;
          top: 5px;
          right: 28px;

          width: 30px;
          height: 30px;

          display: flex;
          justify-content: center;
          align-items: center;

          background: linear-gradient(92.67deg, #F5B251 0%, #EE6A71 128.04%);
          box-shadow: 0px 10px 30px rgba(51, 97, 255, 0.25);
          border-radius: 15px;
          font-weight: 900;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          color: #FFFFFF;
        }

        .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 20px;
          text-align: center;
          color: #000000;
          margin-bottom: 12px;
        }

        .category {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #FF7351;
        }
      }
    }
  }

  .required {
    .title {
      font-weight: 700;
      font-size: 20px;
      line-height: 18px;
      color: #333F48;
      margin-bottom: 24px;
    }

    &__blocks {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .skill-category {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #1E1E1E;
        padding: 8px 24px;
        background: #F4F4F4;
        border-radius: 6px;
      }

      .skills {
        display: flex;
        flex-direction: row;
        gap: 10px;

        .skill {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #1E1E1E;
          padding: 8px 24px;
          background: #F4F4F4;
          border-radius: 6px;
        }
      }
    }
  }

  .advantages {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      color: #333F48;
    }

    .tags {
      display: flex;
      flex-direction: row;
      gap: 4px;

      .tag {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #F6623E;
      }
    }
  }
}

.comments {
  margin-top: 24px;

  .leave-comment {
    display: flex;
    flex-direction: column;
    gap: 14px;

    button {
      align-self: flex-end;
    }
  }

  .comment-list {
    display: flex;
    flex-direction: column;
    gap: 36px;

    .comment-item {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .from {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;

        .avatar {
          width: 52px;
          height: 52px;
        }

        .name {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #1E1E1E;
        }

        .main-category {
          width: fit-content;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #FF7351;
          padding: 4px 8px;
          background: #FFF4EC;
          border-radius: 6px;
        }
      }

      .comment-body {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000000;
      }
    }
  }
}
