<div class="in-progress-modal">
  <div class="content">
    <div class="message">
      <div class="title">Этот функционал в разработке</div>
      <div class="description">
        Данная страница или функция находятся в разработке
      </div>
    </div>

    <div class="image">
      <img src="../../../../assets/images/inprogress.png" alt="" />
    </div>
  </div>

  <div class="action">
    <button
      mat-raised-button
      color="accent"
      class="max-width"
      (click)="close()"
    >
      Хорошо
    </button>
  </div>
</div>
