.mat-form-field {
  width: 100%;
  color: #FFFFFF;
}

mat-label {
  color: #FFFFFF;
}

.mat-placeholder-required {
  color: #FFFFFF
}

.mat-form-field-underline {
  display: none;
}

input.mat-input-element {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  font-family: 'Mulish',
  sans-serif;

  font-size: 17px;
  line-height: 1.41em;

  &.ng-dirty {
    color: #ffffff;
  }

  color: #ffffff;
  width: 100%;
  margin-top: -2px;
}

.input-wrapper {
  flex-wrap: wrap;
  width: 100%;
  gap: 24px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
