mat-form-field {
  width: 100%;
  user-select: none;

  &.mat-form-field-appearance-fill {
    .mat-form-field-flex {
      padding: 8px 25px 0px 10px;
      border: 1px solid #FFFFFF;
    }
  }
}

.mat-form-field-invalid {
  .mat-form-field-appearance-fill div.mat-form-field-flex {
    border: 1px solid #FFFFFF;
    background-color: #2C2850;
  }

  mat-label {
    color: #FFFFFF;
  }
}

.mat-form-field-wrapper {
  padding: 0;
}

.mat-form-field-appearance-fill div.mat-form-field-subscript-wrapper {
  bottom: -16px;
  top: unset;
  padding: 0;
}

.mat-form-field.mat-focused.mat-form-field-appearance-fill .mat-form-field-flex {
  border: 1px solid #FFFFFF;

  mat-label {
    color: #FFFFFF;
  }
}

.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  font-size: 13px;
  line-height: 1.23em;
  top: 54%;
}

span.mat-form-field-label-wrapper {
  top: -1.22em;
  height: 20px;
}

mat-form-field.mat-form-field-appearance-fill div.mat-form-field-flex {
  border-radius: 10px;
  background-color: #2C2850;
}

mat-form-field.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0;
  width: 100%;
}

div.mat-form-field-flex {
  height: 50px;
}

.h-100 {
  .mat-form-field-flex {
    height: 100%;
  }
}

span.mat-form-field-label-wrapper label.mat-form-field-label {
  font-size: 17px;
  line-height: 1.41em;
  top: 57%;
}

span.mat-select-value-text {
  position: relative;
}

input.mat-input-element {
  position: relative;
  top: 1px;
}

.mat-select-value {
  color: #FFFFFF;
}

.mat-select-arrow {
  color: #FFFFFF;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
  box-shadow: 0px 3px 1px -2px rgb(255 0 0 / 20%), 0px 2px 2px 0px rgb(255 0 0 / 14%), 0px 1px 5px 0px rgb(255 0 0 / 12%);
}

.mat-input-element::placeholder {
  color: #FFFFFF;
}

input:-internal-autofill-selected {
  background: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
