.auth {
  max-width: 400px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 42px;

  .auth-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8px;

    img {
      width: 160px;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: #000000;
    }
  }

  .inputs_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
