<ng-container *ngIf="isProjectLoading; else projectTemplate">
  Загрузка
</ng-container>
<ng-template #projectTemplate>
  <div mat-dialog-title class="header">
    <div class="header__nav">
      <div class="title">{{ fullProject.projectName }}</div>
      <div class="actions">
        <div
          class="action"
          (click)="rateDown()"
          [ngClass]="checkDislike() ? 'selected' : ''"
        >
          <img src="../../../../../assets/icons/dislike.svg" alt="" />
        </div>
        <div
          class="action"
          (click)="rateUp()"
          [ngClass]="checkLike() ? 'selected' : ''"
        >
          <img src="../../../../../assets/icons/like.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="header__bottom">
      <div class="categories">
        <div class="category" *ngFor="let tag of fullProject.projectTags">
          {{ tag }}
        </div>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="about-project">
      <div class="stats">
        <div class="stat">
          <div class="score">{{ getProjectRate() }}</div>
          <div class="icon">
            <img
              src="../../../../../assets/icons/rate_to_the_moon.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
        <div class="stat">
          <div class="score">{{ fullProject.views }}</div>
          <div class="icon">
            <img src="../../../../../assets/icons/eye.svg" alt="" srcset="" />
          </div>
        </div>
        <div class="stat">
          <div class="score">
            {{ fullProject.comments ? fullProject.comments.length : 0 }}
          </div>
          <div class="icon">
            <img
              src="../../../../../assets/icons/comment.svg"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
      <div class="description">
        {{ fullProject.projectDescription }}
      </div>
      <div class="to-the-team">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          class="max-width"
        >
          <span class="btn_spinner" *ngIf="isRequestLoading">
            <mat-icon
              ><mat-spinner color="warn" diameter="18"></mat-spinner
            ></mat-icon>
          </span>
          Подать заявку в команду
        </button>
      </div>

      <div class="team">
        <div class="title">Команда</div>
        <div class="member-list">
          <div class="member" *ngFor="let member of fullProject.existTeam">
            <!-- <div class="level">14</div> -->
            <div class="avatar">
              <img
                src="../../../../../assets/images/avatar_another.svg"
                alt=""
              />
            </div>
            <div class="name">
              {{ getMember(member).firstName }}
              {{ getMember(member).secondName }}
            </div>
            <div class="category">{{ member.category }}</div>
          </div>
        </div>
      </div>

      <div class="required">
        <div class="title">Требуются</div>
        <div class="required__blocks">
          <div
            class="required__block"
            *ngFor="let looking of fullProject.lookingForTeam"
          >
            <div class="skill-category">{{ looking.category }}</div>
            <div class="skills">
              <div class="skill" *ngFor="let skill of looking.skills">
                {{ skill }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="advantages">
        <div class="title">Особенности</div>
        <div class="tags">
          <div class="tag">Modern UI</div>
          <div class="tag">Machine Learning</div>
        </div>
      </div> -->

      <mat-divider></mat-divider>
    </div>
    <div class="comments">
      <div class="leave-comment">
        <mat-form-field appearance="fill">
          <mat-label>Что думаете об идеи?</mat-label>
          <input
            matInput
            type="email"
            class="w-field"
            [formControl]="comment"
          />
        </mat-form-field>
        <button mat-raised-button color="accent" (click)="sendComment()">
          <span class="btn_spinner" *ngIf="isCommentLoading">
            <mat-icon
              ><mat-spinner color="warn" diameter="18"></mat-spinner
            ></mat-icon> </span
          >Отправить
        </button>
      </div>

      <div class="comment-list">
        <div class="comment-item" *ngFor="let comment of fullProject.comments">
          <div class="from">
            <div class="avatar">
              <img
                src="../../../../../assets/images/avatar_another.svg"
                alt=""
                srcset=""
              />
            </div>
            <div class="name">
              {{ comment.fullProfileId?.firstName }}
              {{ comment.fullProfileId?.secondName }}
            </div>
            <div class="main-category">
              {{ comment.fullProfileId?.skillInformation[0]?.category }}
            </div>
          </div>
          <div class="comment-body">{{ comment.comment }}</div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>
