.user-list {
  width: 956px;
  margin: auto;
  display: flex;
  flex-direction: column;

  gap: 24px;


  .list-subtitle {
    color: #ffffff;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
