<div class="user-list">
  <ng-container *ngIf="isUserFullProfile; else emptyProfileTemplate">
    <ng-container *ngIf="isProjectsLoading; else userListTemplate">
      Загрузка...
    </ng-container>
    <ng-template #userListTemplate>
      <ng-container *ngIf="haveProjects; else createProjectTemplate">
        <div class="select-project">
          <div class="illustration"></div>
          <div class="form">
            <div class="title"></div>
            <mat-form-field appearance="fill">
              <mat-label>Выберите проект</mat-label>
              <mat-select [formControl]="projectInput" class="w-field">
                <mat-option
                  *ngFor="let project of projectsList"
                  value="{{ project._id }}"
                  >{{ project.projectName }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="selectProject()">
              <span class="btn_spinner" *ngIf="isUserListLoading">
                <mat-icon
                  ><mat-spinner color="warn" diameter="18"></mat-spinner
                ></mat-icon> </span
              >Подобрать
            </button>
          </div>
        </div>
        <ng-container *ngIf="isUserListLoading; else userListResultTemplate">
          Загрузка...
        </ng-container>
        <ng-template #userListResultTemplate>
          <app-user-card
            class="user"
            *ngFor="let user of userList"
            [user]="user"
            [isML]="true"
          >
            <div class="fio">
              {{ user.secondName }}
              {{ user.firstName }}
              {{ user.lastName }}
            </div>
          </app-user-card>
        </ng-template>
      </ng-container>
      <ng-template #createProjectTemplate>
        <div class="create-project">
          <div class="title">Нужно создать проект</div>
          <div class="illustration"></div>
          <div class="action"></div>
        </div>
      </ng-template>
    </ng-template>
  </ng-container>
  <ng-template #emptyProfileTemplate>
    <div class="create-project">
      <div class="title">Нужно заполнить преокт</div>
      <div class="illustration"></div>
      <div class="action"></div>
    </div>
  </ng-template>
</div>
