.auth {
  max-width: 400px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 42px;

  .auth-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8px;

    img {
      width: 220px;
    }

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
    }
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.terms {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.terms_text {
  color: #FFFFFF;
}

.registration {
  a {
    color: #FFFFFF;
  }
}
