$tag-border-color: #fe0046;

.tag {
  user-select: none;

  height: 34px;
  padding: 0 14px;
  background-color: #2C274F;

  border-radius: 6px;
  border: 1px solid $tag-border-color;

  width: fit-content;
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.selected {
  background: #0066ff;
}
