.innovator {
  min-height: 100%;
  width: 100%;
  background: #140F3B;
  padding-top: 100px;
  padding-bottom: 60px;
}

.header {
  width: 956px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 28px;

  .title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .page-title {
      margin: 0;

      font-family: 'Mulish';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;

      color: #FFFFFF;
    }

    .page-subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #181818;
    }
  }
}
