.innovator {
  height: 100%;
  width: 100%;
  background: #F6F7F8;
}

.page-title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 28px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;

  color: #000000;
}
