.profile-view {
  width: 956px;
  margin: auto;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  .user-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
    border-radius: 16px;
    background: #ffffff;

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: #333F48;
    }

    .line {
      width: 100%;
      height: 1px;
      background: #E6EAEE;
    }

    &.main-card {
      width: 100%;
      gap: 40px;

      .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .about {
          display: flex;
          flex-direction: row;
          gap: 32px;

          .avatar {
            width: 140px;

            img {
              width: 100%;
            }
          }

          .main-information {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .fio {
              font-weight: 700;
              font-size: 22px;
              line-height: 22px;
              color: #333F48;
            }

            .age {
              font-weight: 400;
              font-size: 14px;
              line-height: 18px;
              color: #181818;
            }

            .features {
              display: flex;
              flex-direction: row;
              gap: 12px;

              .feature {
                font-weight: 700;
                font-size: 14px;
                line-height: 18px;
                color: #FF7351;
              }
            }
          }
        }
      }

      .tabs {
        display: flex;
        flex-direction: row;
        gap: 24px;

        .tab {
          cursor: pointer;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: #181818;


          &.active {
            color: #FF7351;
          }

          &.disabled {
            cursor: not-allowed;
            color: #5C5C5C;
          }
        }
      }
    }

    &.general-info {
      flex: 1;

      .list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .name {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #A2A5B5;
          }

          .value {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
          }
        }
      }
    }

    &.about {
      flex: 1;

      .description {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        color: #392927;
      }
    }

    &.category-and-skills {
      width: 100%;

      .category-and-skills__list {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .section {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .category {
            width: fit-content;
            background: #F4F4F4;
            border-radius: 6px;
            padding: 8px 24px;

            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            color: #1E1E1E;
          }

          .skills {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .skill {
              width: fit-content;
              background: #F4F4F4;
              border-radius: 6px;
              padding: 8px 24px;

              font-weight: 700;
              font-size: 14px;
              line-height: 18px;
              color: #1E1E1E;
            }
          }
        }
      }
    }
  }

}
