.for-me {
  position: relative;
  height: 600px;

  .dialog {
    height: 700px;
    width: 700px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: auto;
    overflow: auto;

    .scroll {
      height: 700px;
      overflow-y: scroll;
      position: relative;

      .flex {
        padding: 40px;
        display: flex;

        flex-direction: column;
        gap: 24px;

        .message {
          max-width: 500px;
          background: #FF8A6D;
          backdrop-filter: blur(100px);
          border-radius: 26px 26px 26px 0px;
          padding: 20px;

          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 24px;
          color: #FFFFFF;
        }

        .actions {
          display: flex;
          flex-direction: row;
          gap: 24px;

          .action {
            cursor: pointer;
            background: #FFFFFF;
            border: 1px solid #FF7351;
            border-radius: 10px;
            padding: 14px 16px;

            &:hover {
              background: #FFF4EC;
            }
          }
        }
      }
    }
  }

  .bear {
    position: absolute;
    bottom: -100px;
  }
}
