<div class="for-me">
  <div class="dialog">
    <div class="scroll">
      <div class="flex">
        <div class="message">
          Привет, я - Космический медведь, твой виртуальный помощник на
          платформе SpaceBear!
        </div>
        <!-- Если профиль не заполнен -->
        <div class="message">
          С помощью инновационных технологий я могу подобрать для тебя идеальные
          проекты! Они тебе точно понравятся! Но... сначала нужно заполнить
          профиль, это займет всего 5 минут! Что скажешь? Или... Ты можешь
          создать собственный проект!
        </div>
        <div class="actions">
          <div class="action" (click)="onFillProfile()">
            Давай заполним профиль!
          </div>
          <div class="action" (click)="onFillProfile()">Создадим проект!</div>
        </div>
        <!-- Если профиль заполнен -->
        <div class="message">
          Ты вернулся! Похоже, мне хватает информации для подбора идеальных
          проектов, приступим?
        </div>
        <div class="actions">
          <div class="action selected" (click)="getProjects()">Подобрать!</div>
          <div class="action" (click)="onFillProfile()">
            Создадим свой проект!
          </div>
        </div>

        <app-project-card
          *ngFor="let project of projectsForMe$ | async"
        ></app-project-card>
        <app-project-card
          *ngFor="let project of projectsForMe$ | async"
        ></app-project-card>
        <app-project-card
          *ngFor="let project of projectsForMe$ | async"
        ></app-project-card>
        <app-project-card
          *ngFor="let project of projectsForMe$ | async"
        ></app-project-card>
      </div>
    </div>
  </div>
  <div class="bear">
    <img src="../../../../../../../assets/other/placeholder.png" alt="" />
  </div>
</div>
