<div class="user-card">
  <div class="header">
    <div class="about">
      <div class="avatar">
        <img src="../../../../../assets/images/avatar_another.svg" alt="" />
      </div>
      <div class="bear">
        <div class="fio">{{ user.firstName }} {{ user.secondName }}</div>
        <div class="about-items">
          <div class="item">
            <div class="icon"></div>
            <div class="value">{{ user.country }}, {{ user.city }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="actions" [matMenuTriggerFor]="menu">
      <img src="../../../../../assets/icons/more.svg" alt="" />
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="viewUser()">Перейти в профиль</button>
    </mat-menu> -->
  </div>

  <div class="ml-semantic" *ngIf="isML">
    Уровень совпадения: {{ user.semantic }}%
  </div>

  <div class="skills">
    <div class="title">Увлечения</div>
    <div class="items">
      <div class="item" *ngFor="let tag of user.interestedTags">{{ tag }}</div>
    </div>
  </div>
  <div class="skills">
    <div class="title">Специализация</div>
    <div class="items">
      <div class="item" *ngFor="let skillInfo of user.skillInformation">
        {{ skillInfo.category }}
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="title">Навыки</div>
    <div class="items">
      <div class="item" *ngFor="let skill of getSkills()">{{ skill }}</div>
    </div>
  </div>

  <div class="description">
    {{ user.aboutDescription }}
  </div>

  <div class="actions">
    <button
      mat-raised-button
      color="accent"
      (click)="invite()"
      class="action__invite"
    >
      Пригласить в команду
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="viewUser()"
      class="action__view"
    >
      Перейти в профиль
    </button>
  </div>
</div>
