/* You can add global styles to this file, and also import other style files */

@import "./app/shared/styles/normolize";
@import "./app/shared/styles/reset";

:root {
  --primary: #F6623E;
  --accent: #FF7351;
  --quaternary: #FFF4EC;
  --gray: #F4F4F4;
  --main-gradient: linear-gradient(92.67deg, #F5B251 0%, #EE6A71 128.04%);
  --black: #000000;
  --white: #FFFFFF;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Mulish';
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 84px;
}

.width-50 {
  width: 400px;
}

.width-100 {
  width: 100%;
}

// forms
.form {

  .header {
    margin-top: 24px;
    margin-bottom: 16px;

    display: flex;
    justify-content: space-between;

    .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: #000000;
    }

    .action {
      cursor: pointer;
      font-weight: 800;
      font-size: 14px;
      line-height: 16px;
      color: #FF7351;
    }
  }

  &__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
