<div class="project">
  <div class="header">
    <div class="title">
      <div class="name">Space Bear</div>
      <div class="rate">
        <div class="score">2.5к</div>
        <div class="icon"></div>
      </div>
      <div class="show-more">
        <div class="name">Раскрыть</div>
        <div class="icon"></div>
      </div>
    </div>
    <div class="description">
      Проект для поиска единомышленников и обмена идеями, разарабтывается в
      рамках хакатона Лидеры Цифровой Трансфориации
    </div>
    <div class="category">Для хакатона</div>
    <div class="required">
      <div class="title">Требуются</div>
      <div class="items">
        <div class="item">Frontend</div>
        <div class="item">Backend</div>
        <div class="item">Менеджер проекта</div>
      </div>
    </div>
    <div class="details">
      <div class="stat-items">
        <div class="stat">
          <div class="count">3.5к</div>
          <div class="icon"></div>
        </div>
        <div class="stat">
          <div class="count">120</div>
          <div class="icon"></div>
        </div>
      </div>

      <div class="team">
        <div class="member">
          <img src="" alt="CEO" />
        </div>
      </div>

      <div class="additional">
        <div class="tags">
          <div class="tag">Modern UI</div>
          <div class="tag">Machine Learning</div>
        </div>
        <div class="more">
          <div class="name">Подробнее</div>
          <div class="icon"></div>
        </div>
      </div>
    </div>
  </div>
</div>
